[submodule "environments/xland/src/xland/world/wfc/cpp/fast-wfc"]
	path = environments/xland/src/xland/world/wfc/cpp/fast-wfc
	url = https://github.com/math-fehr/fast-wfc
[submodule "environments/xland/src/xland/world/wfc/cpp/fastwfc"]
	path = environments/xland/src/xland/world/wfc/cpp/fastwfc
	url = https://github.com/math-fehr/fast-wfc
